<div class="columns is-multiline">
    <div class="column is-full has-text-centered">
        <img src="../assets/images/burger.png" alt="pixelBurger">
    </div>
    <div class="column is-full has-text-centered">
        <h1 class="title is-1">Eat-Da-Burger!</h1>
    </div>
    <div id="burgersToEat" class="column is-5 is-offset-1">
        <h2 class="subtitle is-3 has-text-centered">Burgers to eat:</h2>

        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/devour devour=true}}
            {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="column is-5">
        <h2 class="subtitle is-3 has-text-centered">Burgers to exercise away:</h2>

        <ul>
            {{#each burgers}}
            {{#if devoured}}
            {{> burgers/devour devour=false}}
            {{/if}}
            {{/each}}
        </ul>
    </div>
</div>
<div class="columns is-multiline">
    <div id="orderBurgerTitle" class="column is-4 is-offset-4">
        <h2 class="subtitle is-2 has-text-centered">Order a burger!</h2>
    </div>
    <div class="column is-4 is-offset-4">
        <form class="create-form">
            <div id="questionWhatBurger" class="form-group">
                <h4 class="has-text-weight-bold"><label for="ca">(1) What burger would you like to
                        add?</label></h4>
                <input type="text" id="burgerName" name="name" placeholder="Enter your burger name here">
            </div>
            <div class="form-group">
                <div id="questionDevoured" class="column is-narrow">
                    <h4 class="has-text-weight-bold"><label for="devoured">(2) Did you already eat this
                            burger?</label><br>
                    </h4>
                </div>
                <div id="answers" class="column is-narrow">
                    <input type="radio" name="devoured" value="0" checked> Not yet!<br>
                    <input type="radio" name="devoured" value="1"> Yes! It was delicious!
                </div>
            </div>
        </form>
    </div>
    <div id="orderBurgerButtonWrapper" class="column has-text-centered is-4 is-offset-4">
        <button id="orderBurgerButton" type="submit">Order Up!</button>
    </div>
</div>