<li class="box">
    {{burger_name}}

    <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devour}}Devour!{{else}}I didn't actually eat this{{/if}}
    </button>

</li>